<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	
	
	<connectionStrings>
		<add name="agenda" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=Aula03;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Connect Timeout=60;Encrypt=False;TrustServerCertificate=False"/>
	</connectionStrings>
	
	
</configuration>